header{
  width: 100%;
  height: 100px;
  background-color: $navColor;

  .wrapper{
    @include wrapper;

    .nav-top-list{
      @extend %list;

      li{
        padding: $navTopPadding;
        font-size: $navTopFontSize;

        i{
          color: $iconsColor;
        }

        a{
          @extend %link;
        }
      }
    }
    .nav-bottom-list{

      li{
        padding: $navBotPadding;

        a{
          @extend %link;
          color: $linkNavBotColor;

        }
      }
    }
  }
}
