.nav-main{
  width: 100%;
  height: 70px;
  background-color: #E6E6E6;

  .wrapper{
    @include wrapper;
    background-color: #E6E6E6;

    .third-nav{
      height: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0 30px;

      a{
        text-decoration: none;
        color: $darkGrey;
        padding: $navBotPadding;
        font-size: 18px;
      }
    }
  }
}

.quick-start{
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
  @include background;
  height: 900px;

  .wrapper{
    @include wrapper;
    position: relative;
    background-color: inherit;
    text-align: center;
    color: $linkNavBotColor;

    .quick-start-text{
      padding-top: 100px;

      h2{
        font-size: $sectionTitleSize;
        margin-bottom: 20px;
      }
      p{
        font-size: $sectionParSize;
        margin-bottom: 30px;
      }

    }

    .tablet{
      height: 70%;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.artificial-intelligence{

  .wrapper{
    @include wrapper;
    background-color: inherit;
    text-align: center;

    .artificial-intelligence-text{
      padding-top: 100px;

      h2{
        font-size: $sectionTitleSize;
        margin-bottom: 20px;
      }
      p{
        font-size: $sectionParSize;
        margin-bottom: 30px;
      }
    }

    .owl{
      width: 80%;
      margin-bottom: 50px;
    }
  }
}

.parallax{
  @include parallax;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg");
}

.dark-section{
  background-color: $darkSectionColor;
  padding: 100px;

  .wrapper{
    @include wrapper;
    background-color: inherit;
    text-align: center;

    .flexible-section-text{
      color: $linkNavBotColor;

      h2{
        font-size: $sectionTitleSize;
        margin-bottom: 20px;
      }
      p{
        font-size: $sectionParSize;
        margin-bottom: 100px;
      }
    }

    .house{
      width: 70%;
    }

    .black-canvas{
      margin-top: 100px;
      @include squareTop;

      &-text{
        color: $linkNavBotColor;

        h3{
          font-size: $sectionTitleSize;
        }
        p{
          font-size: $sectionParSize;
        }
      }

      &-img{
        .devil{
          width: 700px;
        }
      }
    }

    .industry-section{
      margin-top: 100px;
      @include squareTop;

      &-img{
        .lovers{
          width: 700px;
        }
      }

      &-text{
        color: $linkNavBotColor;

        h3{
          font-size: $sectionTitleSize;
        }
        p{
          font-size: $sectionParSize;
        }
      }
    }
  }
}

.secondary-parallax{
  @include parallax;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg");
}

.tools{
  padding: 100px;

  &-text{
    text-align: center;
    font-size: $sectionTitleSize;
    margin-bottom: 50px;
  }

  &-imgs{
    display: flex;
    justify-content: center;

  .tools-img{
    position: relative;
    width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    margin: 20px;
    overflow: hidden;

    img{
      transition: all 1s ease;
    }

    &:hover{
      img{
        width: 320px;
        height: 320px;
      }
    }
  }

    img{
      width: 100%;
      height: 100%;

    }
    .description{
      color: $linkNavBotColor;
      font-size: $sectionParSize;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.additional-section{
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg");
  @include background;
  height: 600px;

  .wrapper{
    @include wrapper;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .squares{
      text-align: center;
      display: flex;

      .square-left,.square-right{
        background-color: white;
        width: 450px;
        height: 350px;
        margin: 20px;
        padding: 50px;

        h3{
          font-size: 25px;
          margin-bottom: 30px;
        }
        p{
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}
