@mixin wrapper {
  width: $wrapperWidth;
  height: $wrapperHeight;
  background-color: $navColor;
  margin: auto;
}

%list{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
.flexStart{
  @extend %list;
  justify-content: flex-start;
}

%link{
  text-decoration: none;
  color: $linkNavTopColor;
}
.white{
  @extend %link;
  color: $linkNavBotColor;
}
