//fonts
$titleFont : 'Roboto', sans-serif;

//font-sizes
$navTopFontSize : 13px;

//colours
$navColor : black;
$iconsColor : #28ACFF;
$linkNavTopColor : lightgrey;
$linkNavBotColor : white;

//dimensions
$wrapperWidth : 1280px;
$wrapperHeight : 100%;

//paddings
$navTopPadding : 10px 15px;
$navBotPadding : 10px 25px;
