//fonts
$titleFont : 'Roboto', sans-serif;

//font-sizes
$navTopFontSize : 13px;

//colours
$headerColor : green;
$wrapperColor : red;
$iconsColor : #28ACFF;
$linkNavTopColor : lightgrey;

//dimensions
$wrapperWidth : 1024px;
$wrapperHeight : 100%;

//paddings
$navTopPadding : 10px 15px;
