@import "Partials/_variables.scss";
@import "Partials/_mixins.scss";
@import "Partials/_common.scss";
@import "Partials/_header.scss";
@import "Partials/_jumbotron.scss";
@import "Partials/_main.scss";
